



{% extends 'core/core.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'projects/css/style.css' %}">

{% endblock css %}

{% block content %}


  

 
    
<div class="content w-75 mx-auto mt-3 mt-sm-5">

    <div class="head mb-3 mb-md-5">
        <h3>Projects</h3>
        <div class="div1"></div>
 
    </div>

    <div class="row body mt-3 mt-md-1 ">

          {% for i in stu %}
          
          
            <div class="col-md-4 p-4">
            <div class="  car shadow">

              {% if i.projectPhoto %}
              
              <img src="{{i.projectPhoto}}" alt="">   
              
              {% else %}
              <img src="{% static 'projects/images/project 1.png' %}" alt="">   

              {% endif %}

               <div class="text">
                <h2>{{i.projectName}}</h2>
                <p>{{i.projectText}}<a href="/">view</a></p>  
               </div>
                <a href="{{i.projectLink}}">

                    <i class="fa-solid fa-eye"></i>
                </a>

         </div>
        </div>
        
          
          
          {% endfor %}




      
 
 
 


    </div>









</div>

   
 

 
 


 
{% endblock content %}