
{% extends 'core/core.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'about/css/style.css' %}">

{% endblock css %}

{% block content %}

 <div class="row my-5 w-75 mx-auto">

   
   <div class='col-md-6 ms-3    ms-lg-auto'>
           <div class="img">
               <img class='shadow-lg mt-5 ms-lg-5' src="{% static 'about/images/fb.jpg' %}" alt="">
             <img class='rap' src="{% static 'about/images/download1.png' %}" alt=""> 
             <img class='raps' src="{% static 'about/images/download1.png' %}" alt=""> 
           </div>

    </div>
   <div class='col-md-6 '>
        <div class="top mt-5">
            <h6>
                Welcome! I'M
             </h6>
             <h2>Anisul hoque</h2>
             <p>Web Developer & Designer</p>
             <p class='info'>Hello I am Mohammad Anisul Haque I am a web site designer and developer working successfully in marketplace for last two years.</p>
        </div>
        <div class="bottom"> 
            <div class="hireme">
           <a Download href="{% static 'me/images/sample.pdf' %}">Download Cv</a> 
            </div>
            
        </div>

   </div>
   
   



 </div>

{% endblock content %}